body {
    overflow-x: scroll infinite;
    overflow-y: hidden;
    background-image: url('imgs/background.jpg');
    padding: 0;
    margin: 0;
    width: 5500px;
    height: 100vh;
}


.elements {
    margin: 0;
    padding: 0;
    position: relative;
}

#journal {
    max-width: 10%;
    max-height: 10%;
}

#readings {
    max-width: 10%;
    max-height: 10%;
}

#cards {
    width: 400px;
    height: 500px;
}

#chain-link {
    width: 300px;
    height: 400px;
    mix-blend-mode: screen;
}

#newspaper {
    width: 500px;
    height: 550px;
}

#tarot-card {
    width: 100px;
    height: 200px;
}

#map {
    width: 400px;
    height: 350px;
}

#art-frame {
    width: 650px;
    height: 400px;
}

#fonts {
    width: 350px;
    height: 200px;
}

#magazine {
    width: 400px;
    height: 550px;
}

#markers {
    width: 250px;
    height: 300px;
}

#phone {
    width: 200px;
    height: 300px;
}

#money {
    width: 100px;
    height: 100px;
}

#flowers {
    width: 300px;
    height: 500px;
}

#process-notes {
    width: 700px;
    height: 600px;
}

@media (max-width:2000px) {
    imgs {
        width: 100%;
        height: 100%;

    }
}

@media (max-width: 530px) {
    imgs {
        width: 50%;
        height: 50%;

    }
}