body {
    font-family: 'Nova Square', sans-serif;
    overflow-x: scroll infinite;
    overflow-y: hidden;
    background-image: url('imgs/background.jpg');
    background-size: contain;
    padding: 0;
    margin: 0;
    width: 6400px;
    height: 100vh;
}

a {
    position: relative;
    text-align: center;
    text-decoration: none;
    color: rgba(255, 255, 255, 0);
    display: inline-block;
}

ul {
    list-style-type: none;
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.content h2 {
    font-size: 2em;
    margin-bottom: 15px;
}

a:hover {
    color: rgb(255, 255, 255);
    transition: 0.6s;
}

.elements {
    margin: 0;
    padding: 0;
    position: relative;
    width: fit-content;
    max-width: 80%;
    min-width: 100%;
}

.elements a:hover img {
    opacity: 70%;
    transition: 0.6s;
}

#journal img {
    width: 400px;
    height: 550px;
}

#readings {
    top: -50px;
}

#readings img {
    width: 270px;
    height: 340px;
    transform: rotate(-15deg);
}

#chain-link {
    top: 150px;
}

#chain-link img {
    width: 300px;
    height: 400px;
    mix-blend-mode: screen;
}

#map {
    top: 150px;
}

#map img {
    padding: 100px;
    width: 400px;
    height: 350px;
    transform: rotate(30deg);
}

#tarot-card {
    top: -120px;
}

#tarot-card img {
    width: 180px;
    height: 300px;
    padding: 80px;
    transform: rotate(5deg);
}

#newspaper img {
    width: 500px;
    height: 550px;
    transform: rotate(-25deg);
}


#art-frame {
    top: 70px;
}

#art-frame img {
    width: 650px;
    height: 400px;
    transform: rotate(5deg);

}

#fonts {
    top: 150px;
}

#fonts img {
    width: 350px;
    height: 200px;
}

#magazine img {
    width: 400px;
    height: 550px;
    transform: rotate(-10deg);

}

#markers {
    top: 100px;
}

#markers img {
    padding: 50px;
    width: 250px;
    height: 300px;
}

#cards {
    top: 150px;
}

#cards img {
    width: 400px;
    height: 500px;
}

#phone {
    top: 50px;
}

#phone img {
    width: 220px;
    height: 300px;
    padding: 50px;
    transform: rotate(25deg);
}

#money {
    top: -200px;
}

#money img {
    width: 100px;
    height: 100px;
    padding: 50px;
}

#flowers {
    top: 50px;
}

#flowers img {
    width: 300px;
    height: 500px;
}

#process-notes {
    top: 200px;
}

#process-notes img {
    width: 700px;
    height: 600px;
    transform: rotate(15deg);

}

.cursor {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    color: white;
    pointer-events: none;
}

.cursor-text {
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 400;
}

.cursor-text .char {
    position: absolute !important;
}


@media screen and (max-width: 100px) {
    body {
        zoom: 1;
        white-space: nowrap;
    }
}

@media screen and (max-width: 600px) {
    body {
        zoom: 1.5;
        white-space: nowrap;
    }
}