@charset "UTF-8";
/* -------------------------------------------------------------- */
/* Chris Bennell Styles for Canvas Cloud 						  */
/* -------------------------------------------------------------- */

#footer { display: none; }

/* Hide gradebook deprecation annoucement  */
div#replacement_notice_mount_point { display: none; }


/* -------------------------------------------------------------- */
/* OCADU Custom CSS Document for Canvas Cloud - Andrew McAllister */
/* -------------------------------------------------------------- */

div.show-content.user_content.clearfix.enhanced h2.ocadu-header {	
			background-image:url(https://www.ocadu.ca/sites/default/files/canvas/headers/ocadu-header-blue2.png); 
			background-size: contain;
  			background-repeat: no-repeat; 
			display: block; 
			padding-left: 15px;
			line-height: 120px; }

div.discussion-section.message_wrapper h2.ocadu-header {	
			background-image:url(https://www.ocadu.ca/sites/default/files/canvas/headers/ocadu-header-blue2.png); 
			background-size: contain;
  			background-repeat: no-repeat; 
			display: block; 
			padding-left: 15px;
			line-height: 100px; }

div#course_syllabus.user_content.enhanced h2.ocadu-header {	
			background-image:url(https://www.ocadu.ca/sites/default/files/canvas/headers/ocadu-header-blue2.png); 
			background-size: contain;
  			background-repeat: no-repeat; 
			display: block; 
			padding-left: 15px;
			line-height: 100px; }

div.show-content.user_content.clearfix.enhanced h2.ocadu-header.fuschia {	
			background-image:url(https://www.ocadu.ca/sites/default/files/canvas/headers/ocadu-header-fuschia2.png); 
			}

div#course_syllabus.user_content.enhanced h2.ocadu-header.fuschia {	
			background-image:url(https://www.ocadu.ca/sites/default/files/canvas/headers/ocadu-header-fuschia2.png); 
			}

div.discussion-section.message_wrapper h2.ocadu-header.fuschia {	
			background-image:url(https://www.ocadu.ca/sites/default/files/canvas/headers/ocadu-header-fuschia2.png); 
			}
		
div.show-content.user_content.clearfix.enhanced h2.ocadu-header.purple {	
			background-image:url(https://www.ocadu.ca/sites/default/files/canvas/headers/ocadu-header-purple2.png); 
			}

div#course_syllabus.user_content.enhanced h2.ocadu-header.purple {	
			background-image:url(https://www.ocadu.ca/sites/default/files/canvas/headers/ocadu-header-purple2.png); 
			}

div.discussion-section.message_wrapper h2.ocadu-header.purple {	
			background-image:url(https://www.ocadu.ca/sites/default/files/canvas/headers/ocadu-header-purple2.png); 
			}

div.show-content.user_content.clearfix.enhanced h2.ocadu-header.green {	
			background-image:url(https://www.ocadu.ca/sites/default/files/canvas/headers/ocadu-header-green2.png); 
			}


div#course_syllabus.user_content.enhanced h2.ocadu-header.green {	
			background-image:url(https://www.ocadu.ca/sites/default/files/canvas/headers/ocadu-header-green2.png); 
			}

div.discussion-section.message_wrapper h2.ocadu-header.green {	
			background-image:url(https://www.ocadu.ca/sites/default/files/canvas/headers/ocadu-header-green2.png); 
			}

div.show-content.user_content.clearfix.enhanced h2.ocadu-header.orange {	
			background-image:url(https://www.ocadu.ca/sites/default/files/canvas/headers/ocadu-header-orange2.png); 
			}

div#course_syllabus.user_content.enhanced h2.ocadu-header.orange {	
			background-image:url(https://www.ocadu.ca/sites/default/files/canvas/headers/ocadu-header-orange2.png); 
			}

div.discussion-section.message_wrapper h2.ocadu-header.orange {	
			background-image:url(https://www.ocadu.ca/sites/default/files/canvas/headers/ocadu-header-orange2.png); 
			}

div.show-content.user_content.clearfix.enhanced h2.ocadu-header.sharp {	
			background-image:url(https://www.ocadu.ca/sites/default/files/canvas/headers/ocadu-header-sharp.png); 
			color: #ffffff;
			}
/* H3 HEADERS */
div.show-content.user_content.clearfix.enhanced h3.ocadu-icon {				
			background-image:url(https://www.ocadu.ca/sites/default/files/canvas/icons/ocadu-icon-art.png); 
			background-size: contain;
  			background-repeat: no-repeat;  
			display: block; 
			padding-left: 70px;
			line-height: 64px; }
	
	div.show-content.user_content.clearfix.enhanced h3.ocadu-icon.assignment1 {
	background-image:url(https://www.ocadu.ca/sites/default/files/canvas/icons/ocadu-icon-assignment1.png);
	}
	
	
	div.show-content.user_content.clearfix.enhanced h3.ocadu-icon.assignment2 {
	background-image:url(https://www.ocadu.ca/sites/default/files/canvas/icons/ocadu-icon-assignment1-alt1.png);
	}
	
	div.show-content.user_content.clearfix.enhanced h3.ocadu-icon.assignment3 {
	background-image:url(https://www.ocadu.ca/sites/default/files/canvas/icons/ocadu-icon-assignment2-alt2.png);
	}
	
	
	div.show-content.user_content.clearfix.enhanced h3.ocadu-icon.books {
	background-image:url(https://www.ocadu.ca/sites/default/files/canvas/icons/ocadu-icon-books1.png);
	}
	
	
	div.show-content.user_content.clearfix.enhanced h3.ocadu-icon.calendar {
	background-image:url(https://www.ocadu.ca/sites/default/files/canvas/icons/ocadu-icon-calendar.png);
	}
	
	
	div.show-content.user_content.clearfix.enhanced h3.ocadu-icon.camera {
	background-image:url(https://www.ocadu.ca/sites/default/files/canvas/icons/ocadu-icon-camera.png);
	}
	
	div.show-content.user_content.clearfix.enhanced h3.ocadu-icon.clock {
	background-image:url(https://www.ocadu.ca/sites/default/files/canvas/icons/ocadu-icon-clock.png);
	}
	
	div.show-content.user_content.clearfix.enhanced h3.ocadu-icon.coffee {
	background-image:url(https://www.ocadu.ca/sites/default/files/canvas/icons/ocadu-icon-coffee.png);
	}
	
	div.show-content.user_content.clearfix.enhanced h3.ocadu-icon.collaboration1 {
	background-image:url(https://www.ocadu.ca/sites/default/files/canvas/icons/ocadu-icon-collaboration1.png);
	}
	
	div.show-content.user_content.clearfix.enhanced h3.ocadu-icon.collaboration2 {
	background-image:url(https://www.ocadu.ca/sites/default/files/canvas/icons/ocadu-icon-collaboration2.png);
	}
	
	div.show-content.user_content.clearfix.enhanced h3.ocadu-icon.create1 {
	background-image:url(https://www.ocadu.ca/sites/default/files/canvas/icons/ocadu-icon-create1.png);
	}
	
	div.show-content.user_content.clearfix.enhanced h3.ocadu-icon.create2 {
	background-image:url(https://www.ocadu.ca/sites/default/files/canvas/icons/ocadu-icon-create2.png);
	}
	
	div.show-content.user_content.clearfix.enhanced h3.ocadu-icon.critique {
	background-image:url(https://www.ocadu.ca/sites/default/files/canvas/icons/ocadu-icon-critique.png);
	}
	
	div.show-content.user_content.clearfix.enhanced h3.ocadu-icon.discussion {
	background-image:url(https://www.ocadu.ca/sites/default/files/canvas/icons/ocadu-icon-discussion.png);
	}
	
	div.show-content.user_content.clearfix.enhanced h3.ocadu-icon.document1 {
	background-image:url(https://www.ocadu.ca/sites/default/files/canvas/icons/ocadu-icon-document.png);
	}
	
	div.show-content.user_content.clearfix.enhanced h3.ocadu-icon.document2 {
	background-image:url(https://www.ocadu.ca/sites/default/files/canvas/icons/ocadu-icon-document2.png);
	}
	
	div.show-content.user_content.clearfix.enhanced h3.ocadu-icon.earbuds {
	background-image:url(https://www.ocadu.ca/sites/default/files/canvas/icons/ocadu-icon-earbuds.png);
	}
	
	div.show-content.user_content.clearfix.enhanced h3.ocadu-icon.engageideas {
	background-image:url(https://www.ocadu.ca/sites/default/files/canvas/icons/ocadu-icon-engage-ideas.png);
	}
	
	div.show-content.user_content.clearfix.enhanced h3.ocadu-icon.files {
	background-image:url(https://www.ocadu.ca/sites/default/files/canvas/icons/ocadu-icon-files.png);
	}

	div.show-content.user_content.clearfix.enhanced h3.ocadu-icon.gears {
	background-image:url(https://www.ocadu.ca/sites/default/files/canvas/icons/ocadu-icon-gears.png);
	}
	
	div.show-content.user_content.clearfix.enhanced h3.ocadu-icon.headphones {
	background-image:url(https://www.ocadu.ca/sites/default/files/canvas/icons/ocadu-icon-headphones.png);
	}
	
	div.show-content.user_content.clearfix.enhanced h3.ocadu-icon.help {
	background-image:url(https://www.ocadu.ca/sites/default/files/canvas/icons/ocadu-icon-help.png);
	}
	
	div.show-content.user_content.clearfix.enhanced h3.ocadu-icon.idea {
	background-image:url(https://www.ocadu.ca/sites/default/files/canvas/icons/ocadu-icon-idea1.png);
	}
	
	div.show-content.user_content.clearfix.enhanced h3.ocadu-icon.laptop {
	background-image:url(https://www.ocadu.ca/sites/default/files/canvas/icons/ocadu-icon-laptop.png);
	}
	
	div.show-content.user_content.clearfix.enhanced h3.ocadu-icon.materialspaint {
	background-image:url(https://www.ocadu.ca/sites/default/files/canvas/icons/ocadu-icon-materials-paint.png);
	}
	
	div.show-content.user_content.clearfix.enhanced h3.ocadu-icon.materialstools {
	background-image:url(https://www.ocadu.ca/sites/default/files/canvas/icons/ocadu-icon-materials-tools.png);
	}
	
	div.show-content.user_content.clearfix.enhanced h3.ocadu-icon.notes {
	background-image:url(https://www.ocadu.ca/sites/default/files/canvas/icons/ocadu-icon-notes.png);
	}
	
	div.show-content.user_content.clearfix.enhanced h3.ocadu-icon.notes {
	background-image:url(https://www.ocadu.ca/sites/default/files/canvas/icons/ocadu-icon-notes.png);
	}
	
	div.show-content.user_content.clearfix.enhanced h3.ocadu-icon.onlinelecture {
	background-image:url(https://www.ocadu.ca/sites/default/files/canvas/icons/ocadu-icon-onlinelecture.png);
	}
	div.show-content.user_content.clearfix.enhanced h3.ocadu-icon.onlinereading {
	background-image:url(https://www.ocadu.ca/sites/default/files/canvas/icons/ocadu-icon-onlinereading.png);
	}
	
	div.show-content.user_content.clearfix.enhanced h3.ocadu-icon.onlinetutorial1 {
	background-image:url(https://www.ocadu.ca/sites/default/files/canvas/icons/ocadu-icon-onlinetutorial1.png);
	}
	
	div.show-content.user_content.clearfix.enhanced h3.ocadu-icon.onlinetutorial2 {
	background-image:url(https://www.ocadu.ca/sites/default/files/canvas/icons/ocadu-icon-onlinetutorial2.png);
	}
	
	div.show-content.user_content.clearfix.enhanced h3.ocadu-icon.onlinebook {
	background-image:url(https://www.ocadu.ca/sites/default/files/canvas/icons/ocadu-icon-openbook.png);
	}
	
	div.show-content.user_content.clearfix.enhanced h3.ocadu-icon.paperairplane {
	background-image:url(https://www.ocadu.ca/sites/default/files/canvas/icons/ocadu-icon-paperairplane.png);
	}
	
	div.show-content.user_content.clearfix.enhanced h3.ocadu-icon.playvideo {
	background-image:url(https://www.ocadu.ca/sites/default/files/canvas/icons/ocadu-icon-playvideo.png);
	}
	
	div.show-content.user_content.clearfix.enhanced h3.ocadu-icon.quiz1 {
	background-image:url(https://www.ocadu.ca/sites/default/files/canvas/icons/ocadu-icon-quiz1.png);
	}
	
	div.show-content.user_content.clearfix.enhanced h3.ocadu-icon.quiz2 {
	background-image:url(https://www.ocadu.ca/sites/default/files/canvas/icons/ocadu-icon-quiz2.png);
	}
	
	div.show-content.user_content.clearfix.enhanced h3.ocadu-icon.reading {
	background-image:url(https://www.ocadu.ca/sites/default/files/canvas/icons/ocadu-icon-reading.png);
	}
	
	div.show-content.user_content.clearfix.enhanced h3.ocadu-icon.sketchbook1 {
	background-image:url(https://www.ocadu.ca/sites/default/files/canvas/icons/ocadu-icon-sketchbook1.png);
	}
	
	div.show-content.user_content.clearfix.enhanced h3.ocadu-icon.submitfile {
	background-image:url(https://www.ocadu.ca/sites/default/files/canvas/icons/ocadu-icon-submitfile2.png);
	}
	
	div.show-content.user_content.clearfix.enhanced h3.ocadu-icon.synchronouslearning {
	background-image:url(https://www.ocadu.ca/sites/default/files/canvas/icons/ocadu-icon-synchronouslearning.png);
	}
	
	div.show-content.user_content.clearfix.enhanced h3.ocadu-icon.tablet {
	background-image:url(https://www.ocadu.ca/sites/default/files/canvas/icons/ocadu-icon-tablet.png);
	}
	
	div.show-content.user_content.clearfix.enhanced h3.ocadu-icon.teams {
	background-image:url(https://www.ocadu.ca/sites/default/files/canvas/icons/ocadu-icon-teams.png);
	}
	
	div.show-content.user_content.clearfix.enhanced h3.ocadu-icon.teamsmeeting {
	background-image:url(https://www.ocadu.ca/sites/default/files/canvas/icons/ocadu-icon-teamsmeeting.png);
	}
	

div.show-content.user_content.clearfix.enhanced h3.ocadu-icon.techsupport {
	background-image:url(https://www.ocadu.ca/sites/default/files/canvas/icons/ocadu-icon-techsupport.png);
	}
	div.show-content.user_content.clearfix.enhanced h3.ocadu-icon.video {
	background-image:url(https://www.ocadu.ca/sites/default/files/canvas/icons/ocadu-icon-video.png);
	}
	div.show-content.user_content.clearfix.enhanced h3.ocadu-icon.wacom {
	background-image:url(https://www.ocadu.ca/sites/default/files/canvas/icons/ocadu-icon-wacom.png);
	}
	div.show-content.user_content.clearfix.enhanced h3.ocadu-icon.wellness1 {
	background-image:url(https://www.ocadu.ca/sites/default/files/canvas/icons/ocadu-icon-wellness1.png);
	}
	
	div.show-content.user_content.clearfix.enhanced h3.ocadu-icon.wellness2 {
	background-image:url(https://www.ocadu.ca/sites/default/files/canvas/icons/ocadu-icon-wellness2.png);
	}
	