/* Example of using CSS Transition and Hover to add motion to text */

.lets-go {
	display: inline-block;
	color: white;
	font-size: 20px;
	transition:
		color 0.5s ease-out,
		transform 0.5s ease-out,
		font-size 0.5s ease-out,
		font-weight 0.5s ease-out;

	/* Instead of writing out each property that transitions, you can use the keyword 'all' which selects all of the properties. See example on the next line. */

	/* transition: all 0.5s ease-out; */
	&:hover {
		font-weight: 600;
		color: rgb(255, 242, 0);
		font-size: 200px;
		transform: rotate(360deg);
	}
}

/* Challenge - Adapt the transition to a keyframe animation to make the animation more psychedlic. For example, having the text colour change at different intervals. */


/* Helper Styles */

body {
	background: #013DFF;
	font-family: 'urbane-rounded', sans-serif;
	font-size: 54px;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}