/* 
LINES AND BORDER STYLES
Checkout the link for more border-style values 
https://developer.mozilla.org/en-US/docs/Web/CSS/border-style
*/

hr {
    border-width: 10px;
}

.line-solid {
    border-style: none;
    border-top-style: solid;
}

.line-dotted {
    border-style: none;
    border-top-style: dotted;
}

.line-dashed {
    border-style: none;
    border-top-style: dashed;
}

/* 
SHAPES
Drawing simple shapes are straightforward but you can also draw more complex shapes using borders. Take a look at this link to see more shapes: https://css-tricks.com/the-shapes-of-css/
*/

.square {
    width: 100px;
    height: 100px;
    background-color: black;
}

.circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    /* Try changing the percentage to see what happens to the shape */
    background-color: black;
}

/* 
Triangles take a litlte more work to draw in CSS but it's possible!
Check out this link to see a diagram of what's going on: https://alvaromontoro.com/blog/67970/drawing-a-triangle-with-css

Instead of using a fill color like previous shapes, we are drawing with borders instead. 
1. The div has no widht or height.
2. The left and right side borders have a transparent colour to "cut out" the square".
3. The top border has no value.
4. The border-bottom property has a height, style and color values.
*/

.triangle {
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-top: 0;
    border-bottom: 100px solid black;
    /* Try changing solid to dotted to see what happens  */
}


/* COLORS */
.black {
    border-width: 5px;
    border-color: black;
    border-style: solid;
    background-color: transparent;
}

.red {
    background-color: red;
    /* Defined using keyword */
}

.green {
    background-color: rgb(0, 255, 0);
    /* Defined using rgb() - red, green blue */
}

.blue {
    background-color: hsl(245, 100%, 50%)
        /* Defined using hsl() - hue, saturation, lightness */
}

.gradient {
    background: linear-gradient(red, green, blue);
}

/* DEPTH */

.depth-layering {
    position: relative;
    /* Necessary line if you want to position elements within a div. Otherwise, the elements will be positioned to the browser */
    width: 200px;
}

/* Depth through layering */
.depth-layering .back {
    position: absolute;
    top: 0;
    left: 0;
}

.depth-layering .middle {
    position: absolute;
    top: 30px;
    left: 30px;
    border: 2px solid white;
}

.depth-layering .front {
    position: absolute;
    top: 60px;
    left: 60px;
    border: 2px solid white;
}

/* Depth through opacity */
.black-1 {
    background-color: black;
    opacity: 0.25;
}

.black-2 {
    background-color: black;
    opacity: 0.5;
}

.blur {
    filter: blur(5px);
}

.shadow {
    box-shadow: 10px 5px 15px black;
}


/* HELPERS */

* {
    box-sizing: border-box;
}

body {
    padding: 32px 32px 200px 32px;
}

h2 {
    font-family: sans-serif;
}

section {
    margin-bottom: 60px;
}

.flex {
    display: flex;
    gap: 20px;
}