* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.text {
    position: fixed;
    left: 100px;
    top: 100px;
}

h1 {
    font-family: 'Special Elite', serif;
    font-size: 24px;
    margin-bottom: 14px;
}

p {
    font-family: 'Special Elite', serif;
    font-size: 14px;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
    background-image: linear-gradient(#A8E0FF, #3285D1);
}

.ground {
    position: fixed;
    width: 100%;
    height: 200px;
    bottom: 0px;
    background-color: #D9D9D9;
}

.museum {
    position: fixed;
    top: 350px;
    width: 700px;
    height: 400px;
    background: #C6C2C2;
}

.main {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 400px;
    height: 200px;
    background: #C6C2C2;
}

.roof-triangle-bottom {
    position: fixed;
    top: 220px;
    border-radius: 5px;
    width: 875px;
    height: 70px;
    border-bottom: 3px solid black;
    border-left: 3px solid black;
    border-right: 3px solid black;
    background: #DADADA;
}

.roof-triangle-bottom::before {
    content: "";
    position: absolute;
    top: -200px;
    left: -5px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 200px 0 0 450px;
    transform: rotateY(180deg);
    border-color: transparent transparent transparent #DADADA;
}

.roof-triangle-bottom::after {
    content: "";
    position: absolute;
    top: -200px;
    left: 440px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 200px 0 0 430px;
    border-color: transparent transparent transparent #DADADA;
}

.roof-base {
    position: fixed;
    top: 290px;
    border-radius: 5px;
    border: 3px solid black;
    width: 800px;
    height: 60px;
    background: #DADADA;
}

.step-1 {
    position: fixed;
    top: 740px;
    width: 800px;
    height: 50px;
    background: #DADADA;
    border-radius: 3px;
    border: 3px solid black;
}

.step-1::before {
    content: "";
    position: absolute;
    width: 850px;
    height: 50px;
    background: #DADADA;
    border-radius: 3px;
    border: 3px solid black;
    top: 40px;
    left: -25px;
}

.step-1::after {
    content: "";
    position: absolute;
    width: 900px;
    height: 50px;
    left: -50px;
    top: 90px;
    background: #DADADA;
    border-radius: 3px;
    border: 3px solid black;
}

.column-1 {
    position: fixed;
    width: 45px;
    height: 375px;
    background: #DADADA;
    border: 3px solid black;
    top: 355px;
    left: 550px;
}

.column-1::before {
    content: "";
    justify-content: center;
    position: absolute;
    width: 60px;
    height: 15px;
    background: #DADADA;
    border: 3px solid black;
    border-radius: 3px;
    left: -15px;
    top: -10px;
}

.column-1::after {
    content: "";
    justify-content: center;
    position: absolute;
    width: 60px;
    height: 15px;
    background: #DADADA;
    border: 3px solid black;
    border-radius: 3px;
    left: -15px;
    top: 365px;
}

.column-2 {
    position: fixed;
    width: 45px;
    height: 375px;
    background: #DADADA;
    border: 3px solid black;
    top: 355px;
    left: 700px;
}

.column-2::before {
    content: "";
    justify-content: center;
    position: absolute;
    width: 60px;
    height: 15px;
    background: #DADADA;
    border: 3px solid black;
    border-radius: 3px;
    left: -15px;
    top: -10px;
}

.column-2::after {
    content: "";
    justify-content: center;
    position: absolute;
    width: 60px;
    height: 15px;
    background: #DADADA;
    border: 3px solid black;
    border-radius: 3px;
    left: -15px;
    top: 365px;
}

.column-3 {
    position: fixed;
    width: 45px;
    height: 375px;
    background: #DADADA;
    border: 3px solid black;
    top: 355px;
    left: 1050px;
}

.column-3::before {
    content: "";
    justify-content: center;
    position: absolute;
    width: 60px;
    height: 15px;
    background: #DADADA;
    border: 3px solid black;
    border-radius: 3px;
    left: -15px;
    top: -10px;
}

.column-3::after {
    content: "";
    justify-content: center;
    position: absolute;
    width: 60px;
    height: 15px;
    background: #DADADA;
    border: 3px solid black;
    border-radius: 3px;
    left: -15px;
    top: 365px;
}

.column-3 {
    position: fixed;
    width: 45px;
    height: 375px;
    background: #DADADA;
    border: 3px solid black;
    top: 355px;
    left: 1100px;
}

.column-3::before {
    content: "";
    justify-content: center;
    position: absolute;
    width: 60px;
    height: 15px;
    background: #DADADA;
    border: 3px solid black;
    border-radius: 3px;
    left: -15px;
    top: -10px;
}

.column-3::after {
    content: "";
    justify-content: center;
    position: absolute;
    width: 60px;
    height: 15px;
    background: #DADADA;
    border: 3px solid black;
    border-radius: 3px;
    left: -15px;
    top: 365px;
}

.column-4 {
    position: fixed;
    width: 45px;
    height: 375px;
    background: #DADADA;
    border: 3px solid black;
    top: 355px;
    left: 1250px;
}

.column-4::before {
    content: "";
    justify-content: center;
    position: absolute;
    width: 60px;
    height: 15px;
    background: #DADADA;
    border: 3px solid black;
    border-radius: 3px;
    left: -15px;
    top: -10px;
}

.column-4::after {
    content: "";
    justify-content: center;
    position: absolute;
    width: 60px;
    height: 15px;
    background: #DADADA;
    border: 3px solid black;
    border-radius: 3px;
    left: -15px;
    top: 365px;
}

.door {
    position: fixed;
    background-color: #d04023;
    width: 180px;
    height: 220px;
    border: 3px solid black;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    box-shadow: inset 15px 8px 0 7px rgb(30, 29, 29);
    top: 520px;
}


.sun {
    animation: spin 2s linear infinite;
    width: 200px;
    height: 200px;
    margin: auto;
    margin-top: 140px;
    border-radius: 50%;
    position: fixed;
    top: -50px;
    left: 1500px;
    box-shadow: inset 0 0 50px #fff,
        inset 20px 0 60px orange,
        inset -20px 0 60px yellow,
        inset 20px 0 300px orange,
        inset -20px 0 300px yellow,
        0 0 50px #fff,
        -10px 0 60px orange,
        10px 0 60px yellow;
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}