.walls {
    position: fixed;
    bottom: 0;
    border-bottom: 175px solid #C98E6C;
    border-left: 250px solid transparent;
    border-right: 250px solid transparent;
    height: 0;
    width: 70%;
}

.walls::before {
    content: "";
    position: fixed;
    top: -10px;
    left: 0;
    border-bottom: 175px solid #D4C9D9;
    border-left: 250px solid transparent;
    border-right: 250px solid transparent;
    height: 0;
    width: 70%;
    transform: rotate(180deg);
}